* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body,
html {
  height: 100%;
}
h1 {
  background: linear-gradient(to right, #ff1493 20%, #ffb347 80%);
  font-size: 50px;
  line-height: 2em;
  color: rgb(247, 247, 234);
}
.b1,
.b2 {
  background-color: #a9a9a9;
  border: none;
  color: white;
  width: 120px;
  height: 40px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-right: 40px;
  border-radius: 100px;
  outline: none;
}
.dropdown {
  display: inline-block;
  position: relative;
  border-radius: 3rem;
}
.dropdown button {
  /* border: none; */
  padding: 8px 16px;
  color: white;
  cursor: pointer;
}
.dropdown div {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1;
  /* visibility: hidden; */
  position: absolute;
  overflow: hidden;
  min-width: 100%;
}
.dropdown div a {
  display: block;
  text-decoration: none;
  padding: 8px;
  color: #000;
  white-space: nowrap;
}
.dropdown div a:hover {
  background-color: hotPink;
  color: #fff;
}

.buttons {
  margin-top: 35px;
  text-align: center;
}

table {
  margin-left: 40px;
  text-align: center;
  border-collapse: collapse;
  margin-top: 55px;
  cursor: pointer;
  display: inline-block;
}
td {
  width: 100px;
  height: 100px;
  border: 6px solid #ff1493;
}
td::after {
  content: "";
  display: block;
}
td:first-of-type {
  border-left-color: transparent;
  border-top-color: transparent;
}

td:nth-of-type(2) {
  border-top-color: transparent;
}

td:nth-of-type(3) {
  border-right-color: transparent;
  border-top-color: transparent;
}

tr:nth-of-type(3) td {
  border-bottom-color: transparent;
}

.play-area {
  text-align: center;  
}

.switch {
 display: flex;
 flex-direction: column;
 margin-left: 2rem;
 margin-top: 9.3rem;
}

.but1 {
  /* background-color: deepPink; */
  color: white;
  font-size: 20px;
  margin-bottom: 15px;
  background-color: #a9a9a9;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: none;
  cursor: pointer;
  outline: none;
}
.b1:hover{
  background-color: #ff1493;

}
.b2:hover{
  background-color: #ff1493;
}
.but1:hover{
  background-color: #ff1493;
}
.but0 {
  background-color: #a9a9a9;
  color: white;
  font-size: 20px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: none;
  cursor: pointer;
  outline: none;
}
.but0:hover{
  background-color: #ff1493;
}
.area{
  display: flex;
  justify-content: center;
}