* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body,
html {
  height: 100%;
}
h1 {
  background: linear-gradient(to right, #ff1493 20%, #ffb347 80%);
  font-size: 50px;
  line-height: 2em;
}
.b1,
.b2 {
  background-color: #a9a9a9;
  border: none;
  color: white;
  width: 120px;
  height: 40px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-right: 40px;
  border-radius: 100px;
  outline: none;
}
.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown button {
  border: none;
  padding: 8px 16px;
  color: white;
  cursor: pointer;
}
.dropdown div {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1;
  visibility: hidden;
  position: absolute;
  min-width: 100%;
}
.dropdown div a {
  display: block;
  text-decoration: none;
  padding: 8px;
  color: #000;
  white-space: nowrap;
}
.dropdown div a:hover {
  background-color: hotPink;
  color: #fff;
}

.buttons {
  margin-top: 35px;
  text-align: center;
}
